* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(226, 229, 230);
}
body {
    background-color: rgb(13, 14, 14);
}
h2 {
    text-align: center;
    margin: 50px;
    font-size: 4rem;
}
form#myForm {
    display: flex;
    justify-content: center;
    align-items: center;
}
form#myForm > label {
    font-size: 2rem;
}
form#myForm > input#keyInput {
    /* padding: 10px 30px; */
    padding: 2px;
    margin: 0px 10px;
    width: 150px;
    font-size: 1.2rem;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    background-color: rgb(30, 32, 32);
    border-bottom: 2px solid rgb(19, 117, 230);
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-container > button#generateData{
    margin: 20px;
    padding: 10px 25px;
    font-size: 1.2rem;
    color: black;
    background-color: rgb(61, 140, 209);
    border: 2px solid rgb(19, 117, 230);
    border-radius: 10px;
    cursor: pointer;
    transition: all .4s ease;
}
.btn-container > button#generateData:hover{
    background-color: transparent;
    color: white;
}
.btn-container > button#downloadCSV{
    margin: 20px;
    padding: 10px 25px;
    font-size: 1.2rem;
    background-color: transparent;
    color: white;
    border: 2px solid rgb(19, 117, 230);
    border-radius: 10px;
    cursor: pointer;
    transition: all .4s ease;
}
.btn-container > button#downloadCSV:hover{
    color: black;
    background-color: rgb(61, 140, 209);
}
table#data-table {
    border: 2px solid rgb(32, 95, 155);
    border-radius: 5px;
    width: fit-content;
    margin: 10px auto;
}
.heading {
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
table#data-table tr td {
    padding: 10px;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}